*
{
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    margin: 0;
    background-color:hsla(27,100%,50%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(36,75%,67%,1) 0px, transparent 50%),
    radial-gradient(at 53% 52%, hsla(13,0%,100%,1) 0px, transparent 50%);
}

nav
{
    background: #594848;
    width: 100%;
    overflow: auto;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

li
{
    float: left;
}

nav a
{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
    font-family: Arial;
}

nav a:hover
{
    background: gray;
    color: black;
}

.container
{
    max-width: 1200px;
    margin: 40px 40px 40px 400px;    
    background: #f2f2f2;
    overflow: visible;
}

.gallery
{
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 390px;
}

.gallery img
{
    width: 386px;
    height: 200px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.gallery img:active
{
    -webkit-transform: scale(2);
    transform: scale(2);
    cursor: zoom-out;
}

.desc
{
    padding: 15px;
    text-align: center;
    background: white;
}

.header
{
    background-color: #363333;
    height: 60px;
}

.header h1
{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000
}
